<%- include('./head/head.ejs') -%>
<main id="main-error-page" class="w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div id="div-error">
        <h1 class="error-code">
            <i class="fas fa-exclamation-circle"></i>
            404
        </h1>
        <p class="error-message w-100 text-center">
            Essa página não existe.
        </p>
        <div class="error-link w-100 text-center">
            <a href="/index">Voltar à página inicial?</a>
        </div>
    </div>
</main>
<%- include('./footer/footer.ejs') -%> 