<%- include('./head/head.ejs') -%> 
<%- include('./sidebar/sidebar.ejs') -%>
<main id="main-body">
    <h1 class="w-100 text-center">Sistema Gerenciador de Estoque</h1>
</main>
<%- include('./footer/footer.ejs') -%>