<%- include('./head/head.ejs') -%> 
<main id="login-body" class="d-flex justify-content-center align-items-center">
    <div id="login-div">
        <div id="img-login" class="w-100 text-center">
            <i class="fas fa-user-circle fa-10x"></i>
            <hr class="login-hr">
        </div>
        <form method ="POST" name="FormLogin" action="index">
            <div class="form-group">
                <input type="text" class="form-control shadow-none login-input" id="user" aria-describedby="emailHelp" placeholder="Entre com seu usuário" name="user">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <input type="password" class="form-control shadow-none login-input" id="exampleInputPassword1" placeholder="Sua senha" name="password">
            </div>
            <div class="form-group w-100 text-center">
                <button type="submit" class="btn submit-button w-100">Entrar</button>
            </div>
        </form>
        <div class="w-100 text-center">
            <a href="">Esqueceu a senha?</a>
        </div>
    </div>
</main>
<%- include('./footer/footer.ejs') -%> 