<%- include('./head/head.ejs') -%> 
<main id ="login">
    <div class="container">
        <div class="login-card">
            <div class="row" id="row">
                <div class="col-md-6">
                    <div class="left-ctn">
                       <div class="box">
                            <header>Estoque fácil</header>
                            <p>O sistema de informação rápido e prático para o gerenciamento do seu estoque.</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-ctn">
                        <form method ="POST" name="FormLogin" action="index" class="form-style text-center">
                            <header>Login</header>
                            <div class="form-group">
                                <i class="fas fa-user icon-login"></i>
                                <input type="text" name="user" id="user" class="input-form" required>
                            </div>
                            <div class="form-group">
                                <i class="fas fa-lock icon-login"></i>
                                <input type="password" name="password" id="password" class="input-form" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn butt-login">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
  <%- include('./toasts/toasts.ejs') -%>
<%- include('./footer/footer.ejs') -%> 