/* https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #0B8D9E; }
.My-Color-Theme-2-hex { color: #40E9FF; }
.My-Color-Theme-3-hex { color: #23D3EB; }
.My-Color-Theme-4-hex { color: #9E4500; }
.My-Color-Theme-5-hex { color: #EB7A23; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(11, 141, 158, 1); }
.My-Color-Theme-2-rgba { color: rgba(64, 233, 255, 1); }
.My-Color-Theme-3-rgba { color: rgba(35, 211, 235, 1); }
.My-Color-Theme-4-rgba { color: rgba(158, 69, 0, 1); }
.My-Color-Theme-5-rgba { color: rgba(235, 122, 35, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(186, 86, 33, 1); }
.My-Color-Theme-2-hsla { color: hsla(186, 100, 62, 1); }
.My-Color-Theme-3-hsla { color: hsla(187, 83, 52, 1); }
.My-Color-Theme-4-hsla { color: hsla(26, 100, 30, 1); }
.My-Color-Theme-5-hsla { color: hsla(26, 83, 52, 1); }

:root {
    --primary: #23D3EB;
    --secondary: #0B8D9E;
    --tertiart: #EB7A23;
    --red: #dd1c1a;
    /* --red: #fa003f; */
    --blackRGB: 0, 5, 1;
    --black: #000501;
    --whiteRGB: rgb(240, 240, 240);
    --white: #f0f0f0;
    /* --white: #f0f0f0; */
    /* --white: #fefdff; */
    --gray: #605f5e;
}

/* generic properties */
button:focus {
    outline: none;
}
a {
    text-decoration: none !important;
}
/* login 2.0 */
#login{
       margin: 0;
        padding: 0;
        box-sizing: border-box;  

}
body{
    background:#CDCDCD;
}
.container{
	position: absolute;
	max-width: 800px;
	height: 500px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.left-ctn{
    position: relative;
    background:#0B3C5D;
    height: 100%;
    padding: 25px;
    color:#E9E9E9;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.left-ctn header{
    color: white;
    font-size: 44px;;
}

.right-ctn{
	background: white;
	padding: 25px;
    padding-left: 50px;
    
}
.right-ctn header{
    color:#0B3C5D;
    font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.right-ctn .input-form{
    width: 230px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    border-bottom: solid #0B8D9E 2px;
}
.right-ctn .input-form:focus{
    outline: none;
}
.form-style{
    position: relative;
    margin-top: 50px;
}
.right-ctn .butt-login{
    background: #0B3C5D;
    color: #fff;
    width: 230px;
    border: none;
    padding: 10px;  
}
.right-ctn .butt-login:hover{
    background: #05283f;
}
.icon-login{
    position: relative;
    color:#0B3C5D;
    left: 36px;
}
.box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}
.row{
    height: 100%;
}
.login-card{
    position: relative;
    background: white;
    height: 100%;
    border-style: solid;
    border-color: #0B3C5D;   
}

/* products message */

/* error page */
.error-link {
    font-size: 1.5rem;
}
.error-message {
    font-size: 3rem;
}
.error-code {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}
#div-error {
    max-width: 550px;
    width: 100%;
}
#main-error-page {
    background-image:
        radial-gradient(60% 130% at bottom right,transparent 92%, #E9E9E9 92.2%),
        linear-gradient(0deg, #88BBD6 100%, var(--white) 100%);
}

/* download button */
.table-download-button > img {
    max-width: 18px;
}
.download-button-div {
    text-align: center;
    margin-bottom: 2rem;
}

/* pagination */
#message-pagination {
    display: none;
}
.page-item.active .page-link {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--white);
}
.page-link {
    background-color: var(--white);
    color: var(--secondary);
}
.productsPagination ul {
    margin-bottom: 0 !important;
}

/* table */
#datatable-tbody > tr > {

}
#datatable-tbody {
    background-color: #F4F4F4 !important;
}
.edit-icon {
    color: #328CC1;
}
.delete-icon {
    color: var(--red);
    max-width: 26px !important;
}
.actions-icons:hover {
    opacity: .8;
}
.actions-icons {
    margin-right: 5px;
    height: auto;
    max-width: 32px;
    width: 100%;
}
#datatable-thead > th{
    cursor: pointer;
}
#datatable > thead {
    background-color: #0B3C5D;
    color: white;
}
#datatable {
    /* margin-bottom: 3rem;     */
}
#datatable-div {
    background-color: #dddddd;
    /* overflow-y: scroll; */
    /* max-height: 450px; */
}
/* cards */
.product-name-card {
    font-weight: 600;
}
.icon-card {
    color: var(--red);
    width: 3rem;
}
.text-content-card {
    margin-bottom: 0;
    width: calc(100% - 3rem);
}
.message-card-div > .card > .card-body > .card-link{
    margin: 5px 5px 3px 2px;
}
.message-card-div > .card > .card-body{
    padding: .5rem 3px;
}
.message-card-div > .card{
    width: 100%;
}
.message-card-div {
    padding-left: 0;
    box-sizing: border-box;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

/* main body */
#main-body {
    padding: 5px 5px 10px 5px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    background-image:
        radial-gradient(60% 130% at bottom right,transparent 92%, #E9E9E9 92.2%),
        linear-gradient(0deg, #88BBD6 100%, var(--white) 100%);
    height: 100vh;
    width: calc(100% - 250px);
}

/* toggle sidebar */
.show-sidebar {
    left: 0 !important;
}
#toggle-sidebar {
    position: fixed;
    /* width: 32px; */
}
#toggle-sidebar:hover {
    opacity: .9;
}
#toggle-sidebar {
    color: var(--black);
    display: none;
    z-index: 20;
    cursor: pointer;
    padding: 3px;
    transition-duration: 1s;
    height: 38px;
    width: 38px;
}

/* sidebar */
/* menu */
.sidebar-icon {
    margin-right: 1rem;
    padding: 1px 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: 28px;
}
.menu-ul > li > a {
    font-weight: 500;
    font-size: 19px;
    color: #CDCDCD;
    text-decoration: none;
    width: 100%;
}
.menu-ul > li:hover {
    background-color: rgba(var(--blackRGB), .1);
}
.menu-ul > li {
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    list-style: none;
    padding: .5rem 1rem;
    width: 100%;
}
.menu-ul {
    padding: 0;
    /* padding-left: 1rem; */
    width: calc(100% - 1rem);
}
.vertical-line {
    /* margin-right: .5rem; */
    border-right: 1px solid rgba(var(--blackRGB), .5);
    width: 1rem;
    height: 100%;
}
#main-sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height: calc(100vh - 250px);
}
/* logo */
.logo-img {
    width: 100%;
    max-width: 180px;
    height: auto;
    width: 100%;
}
#logo-div {
    padding: 5px 1rem;
    min-height: 100px;
    color: var(--secondary);
}
#logo-div {
    height: 150px;
    color: var(--secondary);
}

#sidebar {
    transition-duration: .5s;
    left: 0;
    background-color: #0B3C5D;
    color: #E9E9E9;
    min-height: 100vh;
    height: auto;
    max-width: 250px;
    width: 100%;
}

/* body */
body {
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    display: flex;
    width: 100%;
}

/* @medias */
@media(max-width: 768px) {
    #toggle-sidebar {
        display: flex;
    }
    #main-body {
        width: 100%;
    }
    #sidebar {
        z-index: 10;
        left: -300px;
        position: absolute;
    }
}
@media(max-width: 320px) {
    #login-div {
        padding-right: 2px;
        padding-left: 2px;
    }
}

/* generic classes */
.mh-90 {
    max-height: 90vh;
}
.active-sidebar {
    background-color: rgba(var(--blackRGB), .1);
}
.color-w {
    color: var(--white) !important;
}
.submit-button:hover {
    opacity: .9;
    /* box-shadow: inset 0px 0px 20px -10px var(--black); */
    color: var(--white);
}
.submit-button {
    /* background-color: #0B3C5D; */
    background-color: var(--secondary);
    color: var(--white);
    padding:  .2rem 1.4rem;
}
