<header id="sidebar">
    <div id="logo-div" class="w-100 d-flex justify-content-center align-items-center">
        <img src="/img/logo_sistema_estoque.png" alt="" class="logo-img">
    </div>
    <hr>
    <main id="main-sidebar">
        <div class="vertical-line"></div>
        <ul class="menu-ul">
            <li class="<%- paginaAtual === '/index' ? 'active-sidebar' : '' %>">
                <a href="/index" class="row">
                    <div class="sidebar-icon fa-1x">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Início
                </a>
            </li>
            <li class="<%- paginaAtual === '/produtos' ? 'active-sidebar' : '' %>">
                <a href="/produtos" class="row">
                    <div class="sidebar-icon">
                        <i class="fas fa-list-alt fa-1x"></i>
                    </div>
                    Produtos
                </a>
            </li>
            <li class="<%- paginaAtual === '/AddProd' ? 'active-sidebar' : '' %>">
                <a href="/AddProd" class="row">
                    <div class="sidebar-icon">
                        <i class="fas fa-plus-square fa-1x"></i>
                    </div>
                    Cadastrar
                </a>
            </li>
            <li class="<%- paginaAtual === '/pesquisar' ? 'active-sidebar' : '' %>">
                <a href="/pesquisar" class="row">
                    <div class="sidebar-icon">
                        <i class="fas fa-search fa-1x"></i>
                    </div>
                    Pesquisar
                </a>
            </li>
             <li>
                <a href="#" class="row" data-toggle="modal" data-target="#Sair">
                    <div class="sidebar-icon">
                        <i class="fas fa-sign-out-alt fa-1x"></i>
                    </div>
                    Sair
                </a>
            </li>
        </ul>
    </main>
</header>
<div id="toggle-sidebar" class="justify-content-center align-items-center">
    <!-- <img src="/img/lista.png" alt=""> -->
    <i class="fas fa-bars fa-2x"></i>
    <i class="fas fa-times fa-2x d-none"></i>
</div>