<header id="sidebar">
    <div id="logo-div" class="w-100 d-flex justify-content-center align-items-center">
        <div id="logo">Logo</div>
    </div>
    <ul class="menu-ul">
            <li>
                <a href="/index">
                    <!-- <img src="/img/speedometer.svg"> -->
                    <i class="fas fa-tachometer-alt"></i>
                    Início
                </a>
            </li>
            <li>
                <a href="/AddProd">
                    <!-- <img src="/img/create.svg"> -->
                    <i class="fas fa-plus"></i>
                    Cadastrar
                </a>
            </li>
        </ul>
</header>
<div id="toggle-sidebar">
    <!-- <img src="/img/lista.png" alt=""> -->
    <i class="fas fa-bars fa-2x"></i>
    <!-- <i class="fas fa-times fa-2x"></i> -->
</div>